@import url(./Base.css);

.leftPlayerBody{
    width:68%;
    height: 100%;
    margin-right: 2%;

}

.rightPlayerBody{
    width: 30%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

