a{
    text-decoration: none;
}
.btn-body{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    color: #F8D9C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    background-color: #f4bb9200;
    transition: all 0.3s ease;
}
 .active{
    height: 60px;
    width: 60px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    background-color: #f4bb92;
    color: white;
    transform: scale(1.05);
}
.btn-body:hover{
    color: white;
}
/* .btn-body img{
    height: 30px;
    width: 30px;
} */

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}